input {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: antiquewhite;
    color: brown;
}

input[type=text] {
    width: 30;
}

input[type=email] {
    width: 40;
}

